* {
    background-color: black;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
    scroll-behavior: smooth;
    color: white;
}
.arrow > img {
    height: 50px;
    width: 50px;
}
.arrow {
    display: flex;
    justify-content: center;
}
.home {
    display: flex;
    flex-flow: row nowrap;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.images > img {
    height: 100px;
    width: auto;
}
.reviews {
    display: flex;
    flex-flow: row nowrap;
}
.rating > img {
    height: 50px;
    width: auto;
}
.amazonlink > img {
    height: 50px;
    width: auto;
}
.reviews-group > img {
    height: 50px;
    width: auto;
}