* {
    background-color: black;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
    scroll-behavior: smooth;
    color: white;
}
.arrow > img {
    height: 50px;
    width: 50px;
}
.arrow {
    display: flex;
    justify-content: center;
}
.home {
    display: flex;
    flex-flow: row nowrap;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.images > img {
    height: 300px;
    width: auto;
}
.reviews {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.rating > img {
    height: 50px;
    width: auto;
}
.amazon-link > img {
    height: 50px;
    width: auto;
}
.star-rating > img {
    height: 50px;
    width: auto;
}
.rating {
    flex: 1 1 0;
}
.title > p {
    font-weight: bolder;
    font-size: larger;
}
.amazon-link > p {
    font-weight: bolder;
    font-size: larger;
}